body,
html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  font-family: Madimi One, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px 0 50px;
  box-shadow: 0 1px 5px;
  box-sizing: border-box;
  background-color: rgb(0, 174, 255);
  border-bottom-right-radius: 100%;
}
#bannerPhoto {
  position: relative;
  max-height: 570px;
  display: flex;
}
#bannerPhoto > img {
  width: 100%;
  max-width: 400px;
  box-shadow: -1px 1px 5px;
}
.name {
  position: absolute;
  margin: 0;
  bottom: 0%;
  left: 5%;
  right: 5%;
  font-size: clamp(2.5rem, 2.5vw, 3rem);
  text-shadow: 5px 5px 5px grey;
}
#bannerText {
  padding: 25px;
  min-height: 300px;
  max-width: 600px;
  background-color: white;
  box-shadow: -1px 1px 5px 1px;
  line-height: 200%;
  box-sizing: border-box;
}
#bannerText > h1 {
  text-shadow: 5px 5px 5px grey;
}
#bannerText .socials {
  justify-content: end;
}
.socials {
  display: flex;
  gap: 5px;
}
.socials > button {
  background: none;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.socials > button > img {
  width: 30px;
  height: 30px;
}
.socials > button:hover,
.socials > button:focus {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid;
  background-color: rgb(0, 174, 255);
  animation: pulse linear 1.5s alternate infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 25px;
  box-sizing: border-box;
}

main > h1 {
  text-shadow: 5px 5px 5px grey;
}
.projectsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  box-shadow: 3px 3px 15px 5px grey;
  border-radius: 5px;
  transition: transform ease-in-out 0.5s;
}

.card:hover,
.card:focus {
  transform: scale(1.1);
}

.cardTitle > h2 {
  text-shadow: 1px 5px 10px grey;
}
#projectOne > .screenshot,
#projectOne button:hover,
#projectOne button:focus {
  background-color: orange;
}
#projectTwo > .screenshot,
#projectTwo button:hover,
#projectTwo button:focus {
  background-color: rgb(0, 182, 0);
}
#projectThree > .screenshot,
#projectThree button:hover,
#projectThree button:focus {
  background-color: rgb(255, 0, 255);
}
#projectFour > .screenshot,
#projectFour button:hover,
#projectFour button:focus {
  background-color: yellow;
}
#projectFive > .screenshot,
#projectFive button:hover,
#projectFive button:focus {
  background-color: rgb(113, 113, 255);
}
#projectSix > .screenshot,
#projectSix button:hover,
#projectSix button:focus {
  background-color: red;
}

.screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  box-shadow: 0px 1px 3px;
}
.description {
  padding: 0 5%;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 50px 25px 25px;
  box-shadow: 0 -1px 5px;
  background-color: rgb(0, 174, 255);
  box-sizing: border-box;
}

.contactInfo > h1 {
  text-shadow: 5px 5px 5px grey;
}
.phoneNumber,
.email {
  display: flex;
  align-items: center;
}
.contactInfo > .socials > button:hover,
.contactInfo > .socials > button:focus {
  background-color: white;
}
footer > img {
  width: 100%;
  max-width: 600px;
  box-shadow: 1px 1px 5px 2px;
}
