body,
html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  font-family: Madimi One, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  box-shadow: 0 1px 5px;
  box-sizing: border-box;
  background-color: rgb(0, 174, 255);
  border-bottom-right-radius: 100%;
}
#bannerPhoto {
  display: flex;
  align-items: end;
  justify-content: center;
  min-height: 500px;
  min-width: 300px;
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: -1px 1px 5px;
}

.name {
  margin: 0 5px;
  font-size: clamp(2.5rem, 3vw, 4.5rem);
  text-shadow: 5px 5px 5px grey;
}
#bannerText {
  padding: 25px;
  min-height: 300px;
  max-width: 600px;
  background-color: white;
  box-shadow: -1px 1px 5px 1px;
  line-height: 200%;
  box-sizing: border-box;
}
#bannerText > h1 {
  text-shadow: 5px 5px 5px grey;
}
#bannerText .socials {
  justify-content: end;
}
.socials {
  display: flex;
  gap: 15px;
}
.socials > button {
  background: none;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.socials > button > img {
  width: 30px;
  height: 30px;
}
.socials > button:hover,
.socials > button:focus {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid;
  background-color: rgb(0, 174, 255);
  animation: pulse linear 1.5s alternate infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 25px;
  box-sizing: border-box;
}

main > h1 {
  align-self: flex-start;
  text-shadow: 5px 5px 5px grey;
}
.projectsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  box-shadow: 3px 3px 15px 5px grey;
  border-radius: 5px;
  transition: transform ease-in-out 0.5s;
}

.card:hover,
.card:focus {
  transform: scale(1.1);
}

.cardTitle > h2 {
  text-shadow: 1px 5px 10px grey;
}

.screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  box-shadow: 0px 1px 3px;
  background-color: orange;
}
.description {
  padding: 0 5%;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardTitle > .socials > button:hover,
.cardTitle > .socials > button:focus {
  background-color: orange;
}
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 50px 100px;
  background-color: rgb(0, 174, 255);
  box-sizing: border-box;
}

.phoneNumber,
.email {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-bottom: 15px;
}

footer > img {
  min-width: 300px;
  max-width: 600px;
}
